@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo-posi{
    text-align: center;
}

.logo-big {
    font-size: 250px;
    font-family: 'Lobster', cursive;
    
}

.logo-midium {
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

.logo-small{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2px;
}


.navi-white{
    font-size: 18px;
    color: white;
    font-weight: 900;
}


.head-border {
    display: flex;
    align-items: center;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 20px;
    flex-grow: 1;
    background-color: black;
}

.head-border:before {
    margin-right: 1rem;
}

.head-border:after {
    margin-left: 1rem;
}

