@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo-posi{
    text-align: center;
}


.logo-midium {
    font-size: 120px;
    font-family: 'Lobster', cursive;
}

.logo-small{
    font-size: 35px;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2px;
}

.para{
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin-top: 30px;
}


.navi-white{
    font-size: 18px;
    color: white;
    font-weight: 900;
}


.head-border {
    display: flex;
    align-items: center;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 20px;
    flex-grow: 1;
    background-color: black;
}

.head-border:before {
    margin-right: 1rem;
}

.head-border:after {
    margin-left: 1rem;
}

input:focus, input[type]:focus, .uneditable-input:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid black;
  background-color: white;
}

.text-area:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid black;
  background-color: white;
}

.user-ul {
    display: block;
    margin: 0 auto;
}

a{
    color:black;
}

a:hover {
  color: rgba( 0, 0, 0, 0.3);
}

a:active {
  color: black;
}